<!DOCTYPE html>
<html>
<head>
  <title>CompassTest</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'original' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site__header island">
  <div class="wrap">
   <span id="animationSandbox" style="display: block;"><h1 class="site__title mega">Animate.css</h1></span>
    <span class="beta subhead">Just-add-water CSS animations</span>
  </div>
</header>

<main class="site__content island" role="content">
  <div class="wrap">
    <%= yield %>
  </div>
  <p>
    This small applications tests the integration of <a href="https://github.com/ericam/compass-animate">ericam's animation gem</a>.
    <br />
    It reproduces the behavior of <a href="http://daneden.github.io/animate.css/">Daniel Eden's animate.css library<a>.
  </p>
</main>

</body>
</html>
